---
const { cardContent } = Astro.props;
---

{cardContent && cardContent.map(({ title, date, type, image, download }, index) => (
  <div class="col-md mt-1 mb-3 m-1 mx-llg-auto" style="max-width: 333.333333px;">
    <div class="card text-center permcard shadow-sm h-100">
      {image && image.map(({ src, alt }, index) => (
        <div class="bg-white card-img-top rounded-top-2">
          <img src={`/media/images/${src}`} alt={alt} width="100%" class="ratio ratio-1x1 object-fit-cover rounded-top-2">
        </div>
      ))}
      <div class="card-body">
        <h2 class="card-title fw-semibold mb-0">{title}</h2>
        <p class="card-text lead" set:html={date}></p>
        <p class="card-text lead mb-0" set:html={type}></p>
        <div class="tab-link d-flex gap-2">
          {download && download.map(({ icon, alt, file }, index) => (
            <a href={`/media/files/${file}`} aria-label={alt} class="fs-2 link-footer" target="_blank" rel="noopener noreferrer"><i class={`bi bi-filetype-${icon}`}></i></a>
          ))}
        </div>
      </div>
    </div>
  </div>
))}
