---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const icon1 = 'github';
const desc1 = 'Github';
const href1 = 'https://github.com/Alex-Toucan/atproducts.xyz';
const icon2 = 'twitter-x';
const desc2 = 'Twitter / X';
const href2 = 'https://twitter.com/ATProductsLLC';
const icon3 = 'youtube';
const desc3 = 'YouTube';
const href3 = 'https://youtube.com/c/AlexToucanAT';
const icon4 = 'envelope-fill';
const desc4 = 'Support Email';
const href4 = 'mailto:support@atproducts.xyz';
const icon5 = 'cloud-sun-fill';
const desc5 = 'Weather';
const href5 = 'https://twitter.com/ATPWeather';
---
<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
    <title>AT Products LLC</title> 
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="image" href="/media/images/hero.webp">
        <link rel="preload" as="image" href="/media/slideshow/NEWLOGO.webp">
        <link rel="preload" as="image" href="/media/slideshow/DELTASOFT.webp">
    <link rel="preload" as="image" href="/media/slideshow/1ER-217-1-112923.webp">
    <link rel="preload" as="image" href="/media/slideshow/1ER-217-2-112923.webp">
        <link rel="preload" as="image" href="/media/slideshow/1ER-217-3-112923.webp">
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="AT Products LLC">
    <meta name="description" content="AT Products LLC is an Informational Technology Company, with computer resources.">
    <meta name="keywords" content="AT Products, Ethical Hacking Society, The Script Community, AT Products LLC, ATproducts">
    <meta name="author" content="Alex Toucan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="8CRfwExNu3kB77SccZhzqhwnETsU2dnm0CACBJSRJ5M">    
    <meta property="og:image" content="/media/favicon/iconembed.png">
        <meta name="msapplication-TileColor" content="#da532c">
    <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body class="fixedtopnavimage">
      <div id="page">
<Navbar />
        <noscript>
             <div class="alert alert-dark mb-0" role="alert">
<strong>It seems like you don't have JavaScript enabled!</strong> For color modes, accordions, scrollspies, tab panes, dropdowns, popovers, and much more, you'll need JavaScript to work! We do not have fallbacks, so please enable JavaScript or <a href="https://github.com/Alex-Toucan/atproducts.xyz">view the source code to read the information</a>.
</div>
        </noscript>
          <div class="alert alert-dark alert-dismissible fade show mb-0" role="alert">
 We are now partnering with Deltasoft LLC!
          <a class="icon-link icon-link-hover" href="https://www.deltasoftai.com/blog/at-products-llc-an-official-deltasoft-partner">
  View their blog post here!
  <i class="bi bi-arrow-right h-100"></i>
</a>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
     <div id="intro" class="hero hero-main text-center" data-bs-theme="dark">
        <div class="hero-back h-100 p-3 position-relative">
         <div class="hero-filter w-100 align-items-center d-flex justify-content-center my-466 text-center">
            <div class="text-white">
        <h1 class="display-3 fw-bold">AT Products LLC</h1>
            <p class="fs-4 m-3 text-body-secondary">The company that provides web solutions to your web problems!</p>
              <div class="mx-auto justify-content-between container" id="links">
<div class="d-md-flex d-grid gap-2">
  <a href="/paid" class="btn btn-primary col-md w-100">Paid Services</a>
  <div class="dropdown col-md">
  <button aria-expanded="false" data-bs-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle w-100">
    Navigation
  </button>
  <ul class="dropdown-menu w-100 text-wrap">
    <li><a class="dropdown-item" href="#general-info">General Information</a></li>
    <li><a class="dropdown-item" href="#products">Products</a></li>
    <li><a class="dropdown-item" href="#allies">Allies</a></li>
    <li><a class="dropdown-item" href="#credits">Credits</a></li>
    <li><a class="dropdown-item" href="#history">History</a></li>
    <li><a class="dropdown-item" href="#what-new">What's New?</a></li>
  </ul>
</div></div>
<div class="mt-2 p-1 d-flex justify-content-center gap-3 bg-dark rounded-2">
  <a href="{href1}" aria-label="{desc1}" target="_blank" rel="noopener noreferrer" class="link-hero fs-7" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{desc1}"><i class="bi bi-{icon1}"></i></a> 
  <a href="{href2}" aria-label="{desc2}" target="_blank" rel="noopener noreferrer" class="link-hero fs-7" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{desc2}"><i class="bi bi-{icon2}"></i></a> 
  <a href="{href3}" aria-label="{desc3}" target="_blank" rel="noopener noreferrer" class="link-hero fs-7" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{desc3}"><i class="bi bi-{icon3}"></i></a>
  <a href="{href4}" aria-label="{desc4}" target="_blank" rel="noopener noreferrer" class="link-hero fs-7" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{desc4}"><i class="bi bi-{icon4}"></i></a> 
  <a href="{href5}" aria-label="{desc5}" target="_blank" rel="noopener noreferrer" class="link-hero fs-7" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{desc5}"><i class="bi bi-{icon5}"></i></a> 
</div></div>
</div>
      </div>
    </div>
  </div>
<div id="carousel-A" class="carousel carousel-main carousel-fade slide shadow nolrpadding container-sm mt-xmd-2 mb-2 pointer-event" data-bs-ride="carousel"><div class="pt-xmd-2 px-xmd-2">
<div class="carousel-inner">
        <div class="carousel-item active">
      <img src="/media/slideshow/NEWLOGO.webp" class="d-block w-100" alt="AT Products' New Logo">
    </div>
          <div class="carousel-item">
      <img src="/media/slideshow/DELTASOFT.webp" class="d-block w-100" alt="Deltasoft Partnership">
    </div>
      <div class="carousel-item">
      <img src="/media/slideshow/1ER-217-1-112923.webp" class="d-block w-100" alt="2.17 Preview">
    </div>
    <div class="carousel-item">
      <img src="/media/slideshow/1ER-217-2-112923.webp" class="d-block w-100" alt="2.17 Preview">
    </div>
      <div class="carousel-item">
      <img src="/media/slideshow/1ER-217-3-112923.webp" class="d-block w-100" alt="2.17 Preview">
    </div>
  </div><div class="mediarow py-2" aria-label="Carousel-A Controls"><button class="carousel-control-prev col" type="button" data-bs-target="#carousel-A" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button><div class="carousel-indicators col-7 col-sm-5 text-center">
  <button aria-label="Slide 1" class="active slidebtn" data-bs-slide-to="0" data-bs-target="#carousel-A" type="button" aria-current="true"></button>
  <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="1" aria-label="Slide 2" class="slidebtn"></button>
      <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="2" aria-label="Slide 3" class="slidebtn"></button>
          <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="3" aria-label="Slide 4" class="slidebtn"></button>
            <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="4" aria-label="Slide 5" class="slidebtn"></button>
  </div><button class="carousel-control-next col" type="button" data-bs-target="#carousel-A" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
          </button></div></div>
            <div class="btn-group w-100 p-1" role="group" aria-label="Carousel-A Play/Pause">
  <input type="radio" class="btn-check btn-check-dark col playButton" name="btnradio" id="playButton" aria-label="playButton" checked="">
  <label class="btn" for="playButton" id="playButtonLabel"><i class="bi bi-play-fill fs-4 link-hero"></i></label>

  <input type="radio" class="btn-check btn-check-dark col pauseButton" name="btnradio" id="pauseButton" aria-label="pauseButton">
  <label class="btn" for="pauseButton" id="pauseButtonLabel"><i class="bi bi-pause-fill fs-4 link-hero"></i></label>
</div>
          </div>
                        <main id="index" class="container">
                          <hr class="hero-drappear">
<div id="general-info">
 <h2>General Information</h2>
 <p> AT Products LLC, otherwise known as AT Products, is an informative technology company that is based in the United States, that contains resources for cybersecurity and malware. Our products are for the public to use anytime. </p>
          <p> Our current products are Flash Documentation, MDickie Projects, and SMS Bomb. </p>
          <p> The "AT" in AT Products does stand for Alex Toucan. </p>
</div>
<hr>
                    <div id="products">
<h2>Products</h2>
<div class="products-border rounded-2 p-1"> <div class="d-md-flex">
  <div class="nav flex-column nav-pills col-md-4 me-md-1" id="products-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="products-1-tab" data-bs-toggle="pill" data-bs-target="#products-1" type="button" role="tab" aria-controls="products-1" aria-selected="true">Paid Services</button>
    <button class="nav-link" id="products-2-tab" data-bs-toggle="pill" data-bs-target="#products-2" type="button" role="tab" aria-controls="products-2" aria-selected="false" tabindex="-1">Flash Documentation</button>
    
    <button class="nav-link" id="products-3-tab" data-bs-toggle="pill" data-bs-target="#products-3" type="button" role="tab" aria-controls="products-3" aria-selected="false" tabindex="-1">MDickie Projects</button>
    <button class="nav-link" id="products-4-tab" data-bs-toggle="pill" data-bs-target="#products-4" type="button" role="tab" aria-controls="products-4" aria-selected="false" tabindex="-1">SMS Bomb</button>
  <button class="nav-link" id="products-5-tab" data-bs-toggle="pill" data-bs-target="#products-5" type="button" role="tab" aria-controls="products-5" aria-selected="false" tabindex="-1">Pynx's Projects</button>
    <button class="nav-link" id="products-6-tab" data-bs-toggle="pill" data-bs-target="#products-6" type="button" role="tab" aria-controls="products-6" aria-selected="false" tabindex="-1">Public Archive</button></div>
  <div class="vr disbr me-1"></div><hr class="opacity-25 my-1 d-md-none"><div class="tab-content col-md text-center products-tabContent" id="products-tabContent">
<div class="products-1 tab-pane fade active show" id="products-1" role="tabpanel" aria-labelledby="products-1-tab" tabindex="0">
        <h2 class="card-title mb-2">Paid Services</h2>
        <p>View our Paid Services!</p>
  <p>Current primary services are Website Design and Website Hosting.</p>
        <div class="tab-link">
          <a href="/paid" class="btn btn-primary w-100">Visit</a>
  </div>
  </div>    
<div class="products-2 tab-pane fade" id="products-2" role="tabpanel" aria-labelledby="products-2-tab" tabindex="0"><div class="bg-white rounded-2 mb-2"><img class=" rounded-2" src="/media/images/flashdoc.webp" alt="Flash Documentation"></div>
  <h2 class="card-title">Flash Documentation</h2><p class="mb-0">Here are some things about Adobe Flash!</p>
<div class="tab-link">
    <a href="/flash" class="btn btn-primary w-100 mb-2">Visit</a><a href="/backup/flash" class="btn btn-secondary w-100">Visit the all laid out version</a>
</div></div>
<div class="products-3 tab-pane fade" id="products-3" role="tabpanel" aria-labelledby="products-3-tab" tabindex="0"><div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/mdickiepro.webp" alt="MDickie Projects"></div>
  <h2 class="card-title">MDickie Projects</h2><p class="mb-0">This is a fanmade site about what has MDickie developed since the 1990s!</p>
<div class="tab-link">
    <a href="/mdickie" class="btn btn-primary w-100">Visit</a>
</div></div>
<div class="products-4 tab-pane fade" id="products-4" role="tabpanel" aria-labelledby="products-4-tab" tabindex="0"><div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/ya.png" alt="SMS Bomb"></div>
  <h2 class="card-title">SMS Bomb</h2><p class="mb-0">This is for Android Devices. You can SMS bomb your friends!</p>
<div class="tab-link">
    <a href="/sms" class="btn btn-primary w-100">Visit</a>
</div></div>
  <div class="products-5 tab-pane fade" id="products-5" role="tabpanel" aria-labelledby="products-5-tab" tabindex="0">
    <h2 class="card-title mb-2">Pynx's Projects</h2>
    <p class="mb-0">Partnered with PynxTech, we released these projects!</p>
    <div class="tab-link">
    <a href="/pynx" class="btn btn-primary w-100">Visit</a>
  </div></div>
  <div class="products-6 tab-pane fade" id="products-6" role="tabpanel" aria-labelledby="products-6-tab" tabindex="0">
    <h2 class="card-title mb-2">Public Archive</h2>
    <p class="mb-0">View most of our old versions here!</p>
      <div class="tab-link">
    <a href="/backup/old" class="btn btn-primary w-100">Visit</a>
  </div></div></div>
</div></div>
                 </div><hr><div id="allies">
<h2>Allies</h2>
<div class="bg-dark index-border p-1 p-dark-0 rounded-2 text-white">
  <div class="d-md-flex flex-row">
  <div class="col-md"><div class="p-1"><div class="mx-md-auto d-table"><a href="https://protdos.com" class="d-mmd-flex"><img src="/media/images/protdos.webp" alt="ProtDos" height="60px" class="d-inline col-auto"><div class="d-inline my-mmd-auto col">ProtDos</div></a></div></div></div>

  <div class="col-md"><div class="p-1"><div class="mx-md-auto d-table"><a href="https://deltasoft-ai.netlify.app/" class="d-mmd-flex"><img src="/media/images/deltasoft.webp" alt="Deltasoft" height="60px" class="d-inline col-auto me-2"><div class="d-inline my-mmd-auto col">Deltasoft</div></a></div></div></div>

  <div class="col-md"><div class="p-1"><div class="mx-md-auto d-table"><a href="#" class="link-secondary" class="d-mmd-flex"><img src="/media/images/astrocore.webp" alt="Astrocore" height="60px" class="d-inline col-auto"><div class="d-inline my-mmd-auto col">Astrocore</div></a></div></div></div>
  </div> 
  <div class="m-md-2"></div>
  <div class="d-md-flex flex-row">
  <div class="col-md"><div class="p-1"><div class="mx-md-auto d-table"><a href="https://pynxtech.pynxthegoat.repl.co/" class="d-mmd-flex"><img src="/media/images/pynx.webp" alt="PynxTech" height="60px" class="d-inline col-auto"><div class="d-inline my-mmd-auto col">PynxTech</div></a></div></div></div>

  <div class="col-md"><div class="p-1"><div class="mx-md-auto d-table"><a href="https://discord.com/invite/FqcSvnrnvc" class="d-mmd-flex"><img src="/media/images/IDA.webp" alt="International Developer's Association" height="60px" class="d-inline col-auto rounded-2 me-2"><div class="d-inline my-mmd-auto col">International Developer's Association</div></a></div></div></div>
  </div></div>
</div><hr>
                 <div id="credits">
                            <h2>Credits</h2>
                            <div class="bg-dark index-border p-light-1 rounded-2 text-white">
                           
                            <div class="p-2 text-mmd-center"><a href="https://protdos.com"><img src="/media/images/protdos.webp" alt="ProtDos" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2"><div class="d-inline">ProtDos</div></a> allowed us to use their (our current) scroll button and their past Bootstrap v3.</div>
<hr class="m-2 d-md-none">
<div class="p-2 text-mmd-center"><a href="https://getbootstrap.com"><img src="/media/images/bootstrap.webp" alt="Bootstrap" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">Bootstrap</div></a> has provided their CSS library for us to use.</div>
  <hr class="m-2 d-md-none">
<div class="p-2 text-mmd-center"><a href="https://pynxtech.pynxthegoat.repl.co/"><img src="/media/images/pynx.webp" alt="PynxTech" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2"><div class="d-inline">PynxTech</div></a> has contributed to our website and is willing to protect our website as well.</div>
  <hr class="m-2">
                              <div class="accordion m-2" id="creditsAccordion" data-bs-theme="dark">
  <div class="accordion-item text-white">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#creditsOne" aria-expanded="false" aria-controls="creditsOne">
        Other Credits
      </button>
    </h2>
    <div id="creditsOne" class="accordion-collapse collapse">
      <div class="p-2 text-mmd-center d-block">
<p class="mb-0"><a href="https://uigradients.com/">uiGradients</a> for providing gradients for the carousel images when I'm lazy to do it myself.</p>      </div>
    </div>
  </div>
  <div class="accordion-item text-white">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#creditsTwo" aria-expanded="false" aria-controls="creditsTwo">
       Older Credits
      </button>
    </h2>
    <div id="creditsTwo" class="accordion-collapse collapse">
      <div class="p-2 text-mmd-center">
<div class="p-2"><p><a href="https://w3schools.com"><img src="/media/images/w3schools.webp" alt="W3Schools" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">W3Schools</div></a> has provided the former navigation buttons.</p></div>
<div class="mb-md-2"></div><hr class="m-2 d-md-none">
        <div class="p-2"><p><a href="https://tinkercad.com"><img src="/media/images/tinkercad.webp" alt="TinkerCAD" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">TinkerCAD</div></a> has provided their 3D building tool to build our past logo.</p></div>
      </div>
    </div>
  </div>
</div>
                            
                            </div></div><hr>
<div id="history">
<h2> History </h2>
<div class="position-relative" id="historyTab" role="tablist" style="margin: 1.55rem !important;">
  <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 1px;" id="history-line">  
    <div class="progress-bar" style="width: 0%" id="history-progress"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" id="history-1">2020</button>
  <button type="button" class="position-absolute top-0 start-33 translate-middle btn btn-sm btn-secondary rounded-pill" id="history-2">2021</button>
  <button type="button" class="position-absolute top-0 start-66 translate-middle btn btn-sm btn-secondary rounded-pill" id="history-3">2022</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" id="history-4">2023</button>
</div>
<div class="tab-content products-border rounded-2 p-2" id="history-tabs">
  <div class="tab-pane fade show active" id="history-1-pane">
    <h1>2020</h1>
    <p class="m-0">AT Products was just a simple thought around this time, a company owned by Alex Toucan. It would become very real with the help of <a href="https://discord.com">Discord</a>, as it gave Alex Toucan some reputation.</p>
  </div>
  <div class="tab-pane fade" id="history-2-pane">
    <h1>2021</h1>
    <p class="m-0">It wasn't until 2021, the past logo was completed with a 3D modeling tool, also known as <a href="https://tinkercad.com">TinkerCAD</a>. Also in 2021, especially around late 2021, was when our website was just getting under development. For a school assignment, <a href="https://1-0.atproducts.xyz/roms">AT's ROM Games</a> was chosen as the first web page to be completed. Since the criteria were just for four areas of information to be put on the said web page, and the product was already being made. This would start the adventure of atproducts.xyz, but these sites had <a href="https://code.org">code.org/codeprojects.org</a> domains), which had basic CSS. Us finishing the main website within the same time area of late 2021, which meant that the <a href="/ehs">Ethical Hacking Society</a> and <a href="/script">The Script Community</a> got their website done around that period as well.</p>
  </div>
  <div class="tab-pane fade" id="history-3-pane">
    <h1>2022</h1>
    <p class="m-0">The New Year of 2022, brought <a href="/codinghome">CodingHome</a>, and our Documentation. Finally, in February 2022, we bought the domain of atproducts.org and put the same code there. But, soon enough, <a href="https://protdos.com">ProtDos</a> permitted us to use their (and our) past CSS, which was <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a>. We changed the CSS to make it dark a month later, sold the domain a month later, and bought the atproducts.xyz domain... a month later. and then <a href="https://2-6.atproducts.xyz">changed it back in June of 2022</a>. Between March and June of 2022, we introduced <a href="/flash">Flash Documentation</a> and the <a href="/noodle">Noodle Hackerspace</a> as new products. The hugest overhaul would happen on June 3rd, 2022, with <a href="https://2-6.atproducts.xyz">2.6</a>. Which replaced <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a> with <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Bootstrap 5</a>. Not much later, on August 21st, 2022, <a href="https://2-6-1.atproducts.xyz">we changed the company logo</a>, to a more professional design. <a href="https://2-7.atproducts.xyz">2.7</a>, released on September 22nd, 2022, changed the nav bar. In late August of 2022, AT Products joined and helped create The CodingHome Universe (now the <a href="https://discord.com/invite/FqcSvnrnvc">International Developer's Association</a>), a coders alliance with our current allies.</p>
  </div>
  <div class="tab-pane fade" id="history-4-pane">
    <h1>2023</h1>
    <p class="m-0"><a href="https://2-12.atproducts.xyz">2.12</a>, released on January 4th, 2023, added back dark mode and the switch as <a href="https://blog.getbootstrap.com/2022/12/24/bootstrap-5-3-0-alpha1/">Bootstrap v5.3.0-alpha1</a> released on December 24th, 2022. What an update to release into the New Year of 2023 since dark mode was being waited on for months beforehand. <a href="https://2-15.atproducts.xyz">2.15</a> brought new introductions, otherwise called heroes with images, released on June 30th, 2023. <a href="https://2-16.atproducts.xyz">2.16</a> would bring improvements to the heroes, releasing on Septemeber 13rd, 2023. And finally, <a href="https://2-16-1.atproducts.xyz">2.16.1</a>, releasing on September 27th, 2023, brought a overhaul to this history tab. On November 29th, 2023, we have changed the company logo again with <a href="https://2-17.atproducts.xyz">2.17</a>.</p>
  </div>
</div>
</div><hr>
<div id="what-new">
  <h2> What's New? </h2>
  <p><b> Released on:</b> November 29th, 2023.<br>
  <b>ATP Database:</b> 2.17
  </p>
<b>Added</b>
  <ul>
             <li>Added a Title II policy and merged it with the existing Title VII policy. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
      <li>You can now open modals and accordions with just their ID. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
     <li>Added a new section in CodingHome's CSS Basics: Classes. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
      <li>Added card footers to Paid Services. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
     <li>Guess what it is! Resources to CodingHome! <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/157" target="_blank" rel="noopener noreferrer">(#157)</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
       </ul>
  <b>Changed</b>
  <ul>
             <li>The navbar now adapts to color modes. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
      <li>Heroes now have a drop shadow. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
     <li>Updated Bootstrap Icons v1.11.1 to v1.11.2. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
       </ul>
  <b>Bug Fixes</b>
  <ul>
             <li>Fixed flexbox issues with the Information section in the footer. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
     <li>Fixed color mode specific CSS classes not being enabled. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
    <li>Added a Steam link to Old School in MDickie Projects. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/157" target="_blank" rel="noopener noreferrer">(#157)</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
     <li>Fixed grammar issues on Flash Documention. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/157" target="_blank" rel="noopener noreferrer">(#157)</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/158" target="_blank" rel="noopener noreferrer">(#158)</a></li> 
       </ul>
</div> </main>
<Footer />
               <a href="#" class="btn btn-lg btn-lg-square back-to-top"><i class="bi bi-caret-up-fill"></i></a>
</div>
        <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
    <script is:inline src="/static/scroll.js"></script>
    <script is:inline src="/static/purecookie.js"></script>
    <script is:inline src="/static/enabler.js"></script>
      <script is:inline src="/static/index.js"></script>
    </body>
</html>
