---
const { title, id, description, buttonHref, buttonText, footerText } = Astro.props;
---

<div class="card shadow-sm col-12" id={id}>
  <div class="d-flex flex-column">

    <div class="d-md-flex flex-md-row">
      <div class="col-md-4 custom-card-header d-flex flex-column">

        <h2 class="m-1 fw-normal">{title}</h2>
        <hr class="custom-hr">

        {buttonHref && buttonText ? (
          <div class="d-flex gap-3 flex-column flex-wrap align-items-stretch other-services">
            <p class="mb-0">{description}</p>
            {buttonHref && buttonText && (
              <a class="w-100 btn btn-lg btn-primary my-auto" href={buttonHref}>
                {buttonText}
              </a>
            )}
            {footerText && (
              <div class="text-body-secondary">
                {footerText}
              </div>
            )}
          </div>
        ) : (
          <p>{description}</p>
        )}
      </div>

      <div class="col-md-8 p-2">
        <slot name="paid-card-content" />
      </div>
    </div>

  </div>
</div>
