---
const { image, caption } = Astro.props;
---

<div id="article" class="md:text-start h-100 d-flex flex-column-reverse md:flex-row">
  <slot name="history-content" />
  <figure class="col-5 col-sm-4 md:col-3 col-lg-2 md:ms-3 my-2 md:mt-0 mb-0 mx-auto mb-3 md:mb-0 text-center">
    {image && image.map(({ src, alt, width, additionalClasses }) => (
        <img src={src} alt={alt} width={width} class={`mx-auto ${additionalClasses}`} />
    ))}
    {caption ? <figcaption class="figure-caption my-2"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title={caption} class="fs-sm fg-secondary text-decoration-dashed">Copyright information</a></figcaption> : null}
  </figure>
</div>
