---
const {
  id,
  title,
  description,
  primaryHref,
  primaryText,
  secondaryHref,
  secondaryText,
  imageSrc,
  imageWidth,
  minImageWidth,
  numLinks,
  href1,
  href2,
  href3,
  href4,
  href5,
  icon1,
  icon2,
  icon3,
  icon4,
  icon5,
  desc1,
  desc2,
  desc3,
  desc4,
  desc5
} = Astro.props;
---

<div id="intro" class={`hero hero-${id} text-center mb-3`} data-bs-theme="dark">
  <div class="hero-back h-100 p-3 position-relative">
    <div class="hero-filter w-100 align-items-center d-flex justify-content-center my-466 text-center">
      <div class="text-white">
        <div>
          <img src={imageSrc} width={imageWidth} alt="icon" style={{ minWidth: minImageWidth || "150px" }} />
          <h1 class="display-3 fw-bold mt-mmd-2 ps-md-3 d-block d-md-inline align-middle">{title}</h1>
        </div>
        <p class="fs-4 m-3 text-body-secondary">{description}</p>
        <div class="mx-auto justify-content-between container" id="links">
          <div class="d-md-flex d-grid gap-2">
            <a href={primaryHref} class="btn btn-primary col-md">{primaryText}</a>
            {secondaryHref && secondaryText && (
              <a href={secondaryHref} class="btn btn-secondary col-md">{secondaryText}</a>
            )}
          </div>
          <div class="mt-2 p-1 d-flex justify-content-center gap-3 bg-dark rounded-2" id="icons">
            {icons.map(({ icon, desc, href }, index) => (
            <a
              href={href}
              target='_blank'
              rel='noopener noreferrer'
              class='link-hero fs-7'
              data-bs-toggle='tooltip'
              data-bs-placement='bottom'
              data-bs-title={desc}
              key={index}
            >
              <i class={`bi bi-${icon}`}></i>
            </a>
          ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
