import { Fragment } from 'react';

const {
  id,
  title,
  description,
  primaryHref,
  primaryText,
  secondaryHref,
  secondaryText,
  imageSrc,
  imageWidth,
  minImageWidth
} = Astro.props;

let numLinks = 0;

const renderSecondaryButtons = () => {
  if (!secondaryHref || !secondaryText || secondaryHref.length !== secondaryText.length) return null;

  return secondaryHref.map((href, index) => (
    <a href={href} className="btn btn-secondary col-md" key={index}>
      {secondaryText[index]}
    </a>
  ));
}

const renderIconLinks = () => {
  const iconLinks = [];
  for (let i = 1; i <= numLinks; i++) {
    const href = `{href${i}}`;
    const desc = `{desc${i}}`;
    const icon = `{icon${i}}`;
    iconLinks.push(
      React.createElement(
        React.Fragment,
        { key: i },
        <a
          href={href}
          aria-label={desc}
          target="_blank"
          rel="noopener noreferrer"
          className="link-hero fs-7"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title={desc}
        >
          <i className={`bi bi-${icon}`}></i>
        </a>
      )
    );
  }
  return iconLinks;
}

return (
  <div id="intro" className={`hero hero-${id} text-center mb-3`} data-bs-theme="dark">
    <div className="hero-back h-100 p-3 position-relative">
      <div className="hero-filter w-100 align-items-center d-flex justify-content-center my-466 text-center">
        <div className="text-white">
          <div>
            {/* Image and title */}
            <img src={imageSrc} width={imageWidth} alt="icon" style={{ minWidth: minImageWidth || "150px" }} />
            <h1 className="display-3 fw-bold mt-mmd-2 ps-md-3 d-block d-md-inline align-middle">{title}</h1>
          </div>
          <p className="fs-4 m-3 text-body-secondary">{description}</p>
          <div className="mx-auto justify-content-between container" id="links">
            <div className="d-md-flex d-grid gap-2">
              <a href={primaryHref} className="btn btn-primary col-md">{primaryText}</a> {renderSecondaryButtons()}
            </div>
            <div id="icons" className="mt-2 p-1 d-flex justify-content-center gap-3 bg-dark rounded-2">
              {renderIconLinks()}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
);
