---
const {
  id,
  title,
  description,
  primaryHref,
  primaryText,
  secondaryHref,
  secondaryText,
  imageSrc,
  imageWidth,
  minImageWidth,
  numLinks,
  href1,
  href2,
  href3,
  href4,
  href5,
  icon1,
  icon2,
  icon3,
  icon4,
  icon5,
  desc1,
  desc2,
  desc3,
  desc4,
  desc5
} = Astro.props;
---


<div id="intro" class={`hero hero-${id} text-center mb-3`} data-bs-theme="dark">
  <div class="hero-back h-100 p-3 position-relative">
    <div class="hero-filter w-100 align-items-center d-flex justify-content-center my-466 text-center">
      <div class="text-white">
        <div>
          <img src={imageSrc} width={imageWidth} alt="icon" style={{ minWidth: minImageWidth || "150px" }} />
          <h1 class="display-3 fw-bold mt-mmd-2 ps-md-3 d-block d-md-inline align-middle">{title}</h1>
        </div>
        <p class="fs-4 m-3 text-body-secondary">{description}</p>
        <div class="mx-auto justify-content-between container" id="links">
          <div class="d-md-flex d-grid gap-2">
            <a href={primaryHref} class="btn btn-primary col-md">{primaryText}</a>
            {secondaryHref && secondaryText && (
              <a href={secondaryHref} class="btn btn-secondary col-md">{secondaryText}</a>
            )}
            {iddesc1 && idhref1 && (
            <div class="dropdown col-md">
              <button aria-expanded="false" data-bs-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle w-100">
                Navigation
              </button>
              <ul class="dropdown-menu w-100 white-space-normal">
                {[
                  { navigationdesc: iddesc1, navigationlink: idhref1 },
                  { navigationdesc: iddesc2, navigationlink: idhref2 },
                  { navigationdesc: iddesc3, navigationlink: idhref3 },
                  { navigationdesc: iddesc4, navigationlink: idhref4 },
                  { navigationdesc: iddesc5, navigationlink: idhref5 },
                  { navigationdesc: iddesc6, navigationlink: idhref6 },
                  { navigationdesc: iddesc7, navigationlink: idhref7 },
                  { navigationdesc: iddesc8, navigationlink: idhref8 },
                  { navigationdesc: iddesc9, navigationlink: idhref9 },
                  { navigationdesc: iddesc10, navigationlink: idhref10 },
                ].map(({ navigationdesc, navigationlink }, index) => (
                  <li key={index}><a class="dropdown-item" href={navigationlink}>{navigationdesc}</a></li>
                ))}
              </ul>
            </div>
            )}
          </div>
          <div class="mt-2 p-1 d-flex justify-content-center gap-3 bg-dark rounded-2" id="icons">
            {[
              { icon: icon1, desc: desc1, href: href1 },
              { icon: icon2, desc: desc2, href: href2 },
              { icon: icon3, desc: desc3, href: href3 },
              { icon: icon4, desc: desc4, href: href4 },
              { icon: icon5, desc: desc5, href: href5 }
            ].map(({ icon, desc, href }, index) => (
              <a
                href={href}
                target='_blank'
                rel='noopener noreferrer'
                class='link-hero fs-7'
                data-bs-toggle='tooltip'
                data-bs-placement='bottom'
                data-bs-title={desc}
                key={index}
              >
                <i class={`bi bi-${icon}`}></i>
              </a>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
