const {
  id,
  title,
  description,
  primaryHref,
  primaryText,
  secondaryHref,
  secondaryText,
  imageSrc,
  imageWidth,
  minImageWidth
} = Astro.props;

let numLinks = 0;

const renderSecondaryButtons = () => {
  if (!secondaryHref || !secondaryText || secondaryHref.length !== secondaryText.length) return null;

  return secondaryHref.map((href, index) => (
    <a href={href} class="btn btn-secondary col-md">{secondaryText[index]}</a>
  ));
}

const renderIconLinks = (count) => {
  const iconLinks = [];
  for (let i = 1; i <= count; i++) {
    numLinks++;
    const href = `{href${numLinks}}`;
    const desc = `{desc${numLinks}}`;
    const icon = `{icon${numLinks}}`;
    iconLinks.push(
      <a
        href={href}
        aria-label={desc}
        target="_blank"
        rel="noopener noreferrer"
        class="link-hero fs-7"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title={desc}
      >
        <i class={`bi bi-${icon}`}></i>
      </a>
    );
  }
  return iconLinks.map((link, index) => (
    <Fragment key={index}>{link}</Fragment>
  ));
}

return (
  <div id={`intro-${id}`} class={`hero hero-${id} text-center mb-3`} data-bs-theme="dark">
    <div class="hero-back h-100 p-3 position-relative">
      <div class="hero-filter w-100 align-items-center d-flex justify-content-center my-466 text-center">
        <div class="text-white">
          <div>
            {/* Image and title */}
            <img src={imageSrc} width={imageWidth} alt="icon" style={{ minWidth: minImageWidth || "150px" }} />
            <h1 class="display-3 fw-bold mt-mmd-2 ps-md-3 d-block d-md-inline align-middle">{title}</h1>
          </div>
          <p class="fs-4 m-3 text-body-secondary">{description}</p>
          <div class="mx-auto justify-content-between container" id="links">
            <div class="d-md-flex d-grid gap-2">
              <a href={primaryHref} class="btn btn-primary col-md">{primaryText}</a> {renderSecondaryButtons()}
            </div>
            <div id="icons" class="mt-2 p-1 d-flex justify-content-center gap-3 bg-dark rounded-2">
              {renderIconLinks(4)} {/* Pass the user input number here */}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
);
