<!-- Icon.astro -->
<:props>
  import { name, desc, href } from '@astro/props'

  // Define a function to render icons dynamically based on the 'name' prop
  function renderIcon(name) {
    // Here, you can use the 'name' prop to decide which icon to render
    // Return the appropriate icon component based on the 'name'
    return <YourIconComponent name={name} />;
  }
</:props>

<div class="icon">
  {renderIcon(name)} {/* Rendering the icon based on the 'name' prop */}
  <p>{desc}</p>
  <a href={href}>{desc}</a>
</div>
