<astro:template title={title} id={id}>
  <button type="button" class="btn btn-dl btn-resource" data-bs-toggle="modal" data-bs-target={`#${id}`}>{title}</button>

  <div class="modal fade" id={id} data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby={`${id}-title`} aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id={`${id}-title`}>{title}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <i>To close this page, click the X or "Close" button to close. Clicking off the pop-up will not work.</i>
          <h2 class="modal-body-title">{title}</h2>
          <!-- Additional content here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</astro:template>
