---
const { cardContent } = Astro.props;
---

{cardContent && cardContent.map(({ title, type, date, image, icons, comingsoon }, index) => (
  <div class="col-md mt-1 mb-3 m-1 mx-llg-auto" style="max-width: 333.333333px;">
    <div class="card text-center permcard shadow-sm h-100">
      {image && image.map(({ src, alt }, index) => (
        <div class="bg-white card-img-top rounded-top-2">
          <img src={`/media/images/${src}`} alt={alt} width="100%" class="img-fluid rounded-top-2">
        </div>
      ))}
      <div class="card-body">
        <h2 class="card-title fw-semibold mb-0">{title}</h2>
        <p class="card-text lead mb-0" set:html={type}></p>
        {date && (
          <p class="card-text lead" set:html={date}></p>
        )}
        <div class="tab-link d-grid">
          {comingsoon && comingsoon.map(({ date }, index) => (
            <h3 class="card-title fs-3 mb-0">COMING SOON</h3>
            <p class="card-text display-5" set:html={date}></p>
          ))}
          {icons && (
            <div class="text-center tab-link">
              <div class="d-flex justify-content-evenly">
                {icons.map(({ href, text, icon }, index) => (
                  <a class="link-body-emphasis" href={href} aria-label={text} target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title={text}>
                    <i class={`fs-2 ${icon}`}></i>
                  </a>
                ))}
              </div>
            </div>
          )}
        </div>
      </div>
    </div>
  </div>
))}
