---
const { id, title, scrollcontent } = Astro.props;
---

<main id={id}>
  <div class="bd-toc col-md-2 p-3 p-md-1 story-top-buttons">
    <div id={`${id}-list`} class="list-group">
      {scrollcontent && scrollcontent.map(({ name, href, additionalClasses }, index) => (
        <a class={`list-group-item list-group-item-action ${additionalClasses}`} href={href}>{name}</a>
      ))}
    </div>
  </div>
  <slot name="scrollspy-content" />
</main>
