---
const { id, scrollcontent } = Astro.props;
---

<main id={id}>
  <div class="bd-toc col-md-3 story-top-buttons">
    <div id={`${id}-list`} class="list-group story-buttons">
      {scrollcontent ? (
        <div class="p-3 pb-0 rounded-2">
        {scrollcontent.map(({ name, href, additionalClasses }, index) => (
          <a class={`list-group-item list-group-item-action ${additionalClasses}`} href={href} key={index}>
            {name}
          </a>
        ))}
        </div>
      ) : (
        <div class="p-md-3 pb-0">
          <strong class="d-none d-md-block">There are no sections to scroll to in this story/article.</strong>
        </div>
      )}      
    </div>
  </div>
  <div class="col-md-9 p-3" tabindex="0" data-bs-smooth-scroll="true" data-bs-target={`${id}-list`} data-bs-spy="scroll">
    <div class="mx-lg-auto text-justify container-story">
      <slot name="scrollspy-content" />
    </div>
  </div>
</main>
