---
const { id, scrollcontent } = Astro.props;
---

<main id={id}>
  <div class="bd-toc col-md-3 col-lg-2 p-3 pb-0 story-top-buttons">
    <div id={`${id}-list`} class="list-group">
      {scrollcontent ? (
        scrollcontent.map(({ name, href, additionalClasses }, index) => (
          <a class={`list-group-item list-group-item-action ${additionalClasses}`} href={href} key={index}>
            {name}
          </a>
        ))
      ) : (
        <strong>There are no sections to scroll to in this story.</strong>
      )}      
    </div>
  </div>
  <div class="col-md-9 col-lg-10 p-3 story-top-scroll story-top-body story-scroll d-lg-flex" tabindex="0" data-bs-smooth-scroll="true" data-bs-target={`${id}-list`} data-bs-spy="scroll">
	<div class="d-lg-grid mx-lg-auto text-justify container-md story-body">
		<slot name="scrollspy-content" />
        </div>
    </div>
  </div>
</main>
