---
const { highlight, title, heroid, icon, color, bulletin, description, keywords, author, additionalContent, fourofour, index, modal, accordion, scrollspy } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{title}</title> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      {highlight && (
        <link rel="stylesheet" href="/static/highlight.css">
      )}
      <link rel="stylesheet" href="/static/cookie.css">
      <link rel="stylesheet" href="/static/other.css">
      <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css">
      <link rel="preload" as="style" href="/static/other.css">
      <link rel="preload" as="script" href="/static/darkmode.js">
      <link rel="preload" as="script" href="/static/alert-1.js">
      <link rel="preload" as="script" href="/static/alert-2.js">
      {heroid ?
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero-${heroid}.webp`}>
        </Fragment>
        :
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero.webp`}>
        </Fragment>
      }
      {bulletin && bulletin.map(({ bulletinImage }, index) => (
        bulletinImage ? (
            <link rel="preload" as="image" href={`/media/slideshow/${bulletinImage}`} />
        ) : null
      ))}
      {icon ?
        <Fragment>
          <link rel="icon" href={`/media/images/${icon}`}>
          <meta property="og:image" content={`/media/images/${icon}`}>
          <meta name="twitter:image" content={`/media/images/${icon}`}>
        </Fragment>
        :
        <Fragment>
          <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
          <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta property="og:image" content="/media/favicon/iconembed.png">
          <meta name="twitter:image" content="/media/favicon/iconembed.png">
        </Fragment>
      }    
      <link rel="manifest" href="/media/favicon/site.webmanifest">
      <meta charset="UTF-8">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@ATProductsLLC">
      <meta name="twitter:creator" content="@ATProductsLLC">
      <meta name="twitter:title" content={title}>
      <meta name="twitter:description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta property="og:title" content={title}>
      <meta property="og:description" content={description}>
      {color && (
        <meta name="theme-color" content={color}>
      )}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <Fragment set:html={additionalContent}>
      <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body>
    <Fragment>  
      <slot/>
    </Fragment>
    <Fragment>
      <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
      <script is:inline src="/static/message.js"></script>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3200651997791532"
     crossorigin="anonymous"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3200651997791532",
          enable_page_level_ads: true
        });
      </script>  
      <script type="text/javascript"  charset="utf-8">
        // Place this code snippet near the footer of your page before the close of the /body tag
        // LEGAL NOTICE: The content of this website and all associated program code are protected under the Digital Millennium Copyright Act. Intentionally circumventing this code may constitute a violation of the DMCA.
                                    
        eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}(';k O=\'\',28=\'1V\';1F(k i=0;i<12;i++)O+=28.X(C.L(C.K()*28.G));k 2z=8,2s=6e,32=6c,36=1U,2K=D(t){k o=!1,i=D(){z(q.1j){q.2W(\'2R\',e);F.2W(\'1T\',e)}S{q.2M(\'2Y\',e);F.2M(\'1Z\',e)}},e=D(){z(!o&&(q.1j||69.2H===\'1T\'||q.2P===\'2J\')){o=!0;i();t()}};z(q.2P===\'2J\'){t()}S z(q.1j){q.1j(\'2R\',e);F.1j(\'1T\',e)}S{q.35(\'2Y\',e);F.35(\'1Z\',e);k n=!1;2Q{n=F.5X==6f&&q.24}2e(a){};z(n&&n.2m){(D r(){z(o)H;2Q{n.2m(\'14\')}2e(e){H 6h(r,50)};o=!0;i();t()})()}}};F[\'\'+O+\'\']=(D(){k t={t$:\'1V+/=\',5T:D(e){k r=\'\',d,n,o,c,s,l,i,a=0;e=t.e$(e);1e(a<e.G){d=e.19(a++);n=e.19(a++);o=e.19(a++);c=d>>2;s=(d&3)<<4|n>>4;l=(n&15)<<2|o>>6;i=o&63;z(2r(n)){l=i=64}S z(2r(o)){i=64};r=r+U.t$.X(c)+U.t$.X(s)+U.t$.X(l)+U.t$.X(i)};H r},11:D(e){k n=\'\',d,l,c,s,a,i,r,o=0;e=e.1m(/[^A-5z-5y-9\\+\\/\\=]/g,\'\');1e(o<e.G){s=U.t$.1O(e.X(o++));a=U.t$.1O(e.X(o++));i=U.t$.1O(e.X(o++));r=U.t$.1O(e.X(o++));d=s<<2|a>>4;l=(a&15)<<4|i>>2;c=(i&3)<<6|r;n=n+R.T(d);z(i!=64){n=n+R.T(l)};z(r!=64){n=n+R.T(c)}};n=t.n$(n);H n},e$:D(t){t=t.1m(/;/g,\';\');k n=\'\';1F(k o=0;o<t.G;o++){k e=t.19(o);z(e<1B){n+=R.T(e)}S z(e>5q&&e<6D){n+=R.T(e>>6|6L);n+=R.T(e&63|1B)}S{n+=R.T(e>>12|2l);n+=R.T(e>>6&63|1B);n+=R.T(e&63|1B)}};H n},n$:D(t){k o=\'\',e=0,n=6P=1z=0;1e(e<t.G){n=t.19(e);z(n<1B){o+=R.T(n);e++}S z(n>75&&n<2l){1z=t.19(e+1);o+=R.T((n&31)<<6|1z&63);e+=2}S{1z=t.19(e+1);2O=t.19(e+2);o+=R.T((n&15)<<12|(1z&63)<<6|2O&63);e+=3}};H o}};k r=[\'6T==\',\'5j\',\'3A=\',\'3B\',\'3C\',\'3z=\',\'41=\',\'3S=\',\'3T\',\'3U\',\'3O=\',\'43=\',\'4O\',\'72\',\'7y=\',\'4o\',\'4p=\',\'4q=\',\'4r=\',\'4s=\',\'4t=\',\'4u=\',\'4n==\',\'4v==\',\'4x==\',\'4y==\',\'4z=\',\'4A\',\'4B\',\'4C\',\'4D\',\'4w\',\'4l\',\'4c==\',\'4k=\',\'45=\',\'46=\',\'47==\',\'48=\',\'49\',\'4a=\',\'44=\',\'4b==\',\'4d=\',\'4e==\',\'4f==\',\'4g=\',\'4h=\',\'4i\',\'4j==\',\'4E==\',\'4m\',\'4F==\',\'51=\'],v=C.L(C.K()*r.G),w=t.11(r[v]),Y=w,Q=1,W=\'#53\',a=\'#54\',g=\'#55\',b=\'#56\',M=\'\',y=\'57!\',f=\'58 59 52 5a\\\'5c 5d 5e 2o 2p. 5f\\\'s 5g.  5h 5i\\\'t?\',p=\'5b 4Z 4Q-4Y, 4I 4J\\\'t 4K 4L U 4M 42.\',s=\'I 4N, I 4H 4P 4R 2o 2p.  4S 4T 4U!\',o=0,u=0,n=\'4V.4W\',l=0,A=e()+\'.2A\';D h(t){z(t)t=t.1E(t.G-15);k o=q.2I(\'4X\');1F(k n=o.G;n--;){k e=R(o[n].1K);z(e)e=e.1E(e.G-15);z(e===t)H!0};H!1};D m(t){z(t)t=t.1E(t.G-15);k e=q.4G;x=0;1e(x<e.G){1i=e[x].1o;z(1i)1i=1i.1E(1i.G-15);z(1i===t)H!0;x++};H!1};D e(t){k n=\'\',o=\'1V\';t=t||30;1F(k e=0;e<t;e++)n+=o.X(C.L(C.K()*o.G));H n};D i(o){k i=[\'3m\',\'3q==\',\'3s\',\'3u\',\'2C\',\'3v==\',\'3i=\',\'3t==\',\'3r=\',\'3p==\',\'3o==\',\'3n==\',\'3l\',\'3k\',\'3j\',\'2C\'],a=[\'2n=\',\'3d==\',\'3b==\',\'3c==\',\'3h=\',\'3f\',\'3g=\',\'3w=\',\'2n=\',\'3y\',\'3N==\',\'3Z\',\'3Y==\',\'3X==\',\'3W==\',\'3V=\'];x=0;1D=[];1e(x<o){c=i[C.L(C.K()*i.G)];d=a[C.L(C.K()*a.G)];c=t.11(c);d=t.11(d);k r=C.L(C.K()*2)+1;z(r==1){n=\'//\'+c+\'/\'+d}S{n=\'//\'+c+\'/\'+e(C.L(C.K()*20)+4)+\'.2A\'};1D[x]=1W 1X();1D[x].1Y=D(){k t=1;1e(t<7){t++}};1D[x].1K=n;x++}};D E(t){};H{2x:D(t,a){z(3R q.N==\'3Q\'){H};k o=\'0.1\',a=Y,e=q.1a(\'1t\');e.16=a;e.j.1f=\'1Q\';e.j.14=\'-1l\';e.j.10=\'-1l\';e.j.1d=\'2a\';e.j.V=\'3P\';k d=q.N.2h,r=C.L(d.G/2);z(r>15){k n=q.1a(\'2c\');n.j.1f=\'1Q\';n.j.1d=\'1n\';n.j.V=\'1n\';n.j.10=\'-1l\';n.j.14=\'-1l\';q.N.3M(n,q.N.2h[r]);n.1c(e);k i=q.1a(\'1t\');i.16=\'2k\';i.j.1f=\'1Q\';i.j.14=\'-1l\';i.j.10=\'-1l\';q.N.1c(i)}S{e.16=\'2k\';q.N.1c(e)};l=3L(D(){z(e){t((e.26==0),o);t((e.23==0),o);t((e.1J==\'2L\'),o);t((e.1L==\'2U\'),o);t((e.1R==0),o)}S{t(!0,o)}},27)},1P:D(e,c){z((e)&&(o==0)){o=1;F[\'\'+O+\'\'].1C();F[\'\'+O+\'\'].1P=D(){H}}S{k p=t.11(\'3K\'),u=q.3J(p);z((u)&&(o==0)){z((2s%3)==0){k l=\'3I=\';l=t.11(l);z(h(l)){z(u.1M.1m(/\\s/g,\'\').G==0){o=1;F[\'\'+O+\'\'].1C()}}}};k v=!1;z(o==0){z((32%3)==0){z(!F[\'\'+O+\'\'].2N){k d=[\'3H==\',\'3G==\',\'3F=\',\'3E=\',\'3D=\'],m=d.G,a=d[C.L(C.K()*m)],r=a;1e(a==r){r=d[C.L(C.K()*m)]};a=t.11(a);r=t.11(r);i(C.L(C.K()*2)+1);k n=1W 1X(),s=1W 1X();n.1Y=D(){i(C.L(C.K()*2)+1);s.1K=r;i(C.L(C.K()*2)+1)};s.1Y=D(){o=1;i(C.L(C.K()*3)+1);F[\'\'+O+\'\'].1C()};n.1K=a;z((36%3)==0){n.1Z=D(){z((n.V<8)&&(n.V>0)){F[\'\'+O+\'\'].1C()}}};i(C.L(C.K()*3)+1);F[\'\'+O+\'\'].2N=!0};F[\'\'+O+\'\'].1P=D(){H}}}}},1C:D(){z(u==1){k Z=2X.6U(\'38\');z(Z>0){H!0}S{2X.6V(\'38\',(C.K()+1)*27)}};k h=\'6X==\';h=t.11(h);z(!m(h)){k c=q.1a(\'6Y\');c.21(\'70\',\'71\');c.21(\'2H\',\'1g/5k\');c.21(\'1o\',h);q.2I(\'73\')[0].1c(c)};74(l);q.N.1M=\'\';q.N.j.17+=\'P:1n !13\';q.N.j.17+=\'1A:1n !13\';k A=q.24.23||F.37||q.N.23,v=F.6Z||q.N.26||q.24.26,r=q.1a(\'1t\'),Q=e();r.16=Q;r.j.1f=\'2t\';r.j.14=\'0\';r.j.10=\'0\';r.j.V=A+\'1x\';r.j.1d=v+\'1x\';r.j.2g=W;r.j.1S=\'6A\';q.N.1c(r);k d=\'<a 1o="6O://6N.6M"><2G 16="2F" V="1U" 1d="40"><2B 16="2E" V="1U" 1d="40" 6K:1o="6J:2B/6I;6H,6G+6F+6E+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+B+6C+6B+76/77/78/7h/7s/7t+/7u/7v+7w/7x+7r/7A/7B/7C/7D/7E/7F+7z/7q+7p+7o+7a+7b+7c/7d+7e/7f+79/7g+7i+7j+7k+7l/7m+7n/6Q/6z/6y+6x+5F/5G+5H+5I+5J+E+5K/5E/5L/5N/5O/5P/+5Q/5R++5S/5M/5C+5u/5B+5n+5o==">;</2G></a>\';d=d.1m(\'2F\',e());d=d.1m(\'2E\',e());k i=q.1a(\'1t\');i.1M=d;i.j.1f=\'1Q\';i.j.1y=\'1I\';i.j.14=\'1I\';i.j.V=\'5r\';i.j.1d=\'5s\';i.j.1S=\'2i\';i.j.1R=\'.6\';i.j.2f=\'2u\';i.1j(\'5t\',D(){n=n.5v(\'\').5w().5x(\'\');F.34.1o=\'//\'+n});q.1G(Q).1c(i);k o=q.1a(\'1t\'),E=e();o.16=E;o.j.1f=\'2t\';o.j.10=v/7+\'1x\';o.j.5A=A-5D+\'1x\';o.j.5U=v/3.5+\'1x\';o.j.2g=\'#6j\';o.j.1S=\'2i\';o.j.17+=\'J-1u: "6l 6m", 1p, 1r, 1w-1v !13\';o.j.17+=\'6n-1d: 6o !13\';o.j.17+=\'J-1h: 6i !13\';o.j.17+=\'1g-1q: 1s !13\';o.j.17+=\'1A: 6p !13\';o.j.1J+=\'2Z\';o.j.2V=\'1I\';o.j.6r=\'1I\';o.j.6t=\'2D\';q.N.1c(o);o.j.6v=\'1n 6w 6q -6g 68(0,0,0,0.3)\';o.j.1L=\'2d\';k Y=30,w=22,x=18,M=18;z((F.37<39)||(5Y.V<39)){o.j.2T=\'50%\';o.j.17+=\'J-1h: 5Z !13\';o.j.2V=\'62;\';i.j.2T=\'65%\';k Y=22,w=18,x=12,M=12};o.1M=\'<3a j="1k:#67;J-1h:\'+Y+\'1H;1k:\'+a+\';J-1u:1p, 1r, 1w-1v;J-1N:6a;P-10:1b;P-1y:1b;1g-1q:1s;">\'+y+\'</3a><2S j="J-1h:\'+w+\'1H;J-1N:6b;J-1u:1p, 1r, 1w-1v;1k:\'+a+\';P-10:1b;P-1y:1b;1g-1q:1s;">\'+f+\'</2S><6d j=" 1J: 2Z;P-10: 0.2v;P-1y: 0.2v;P-14: 2b;P-2q: 2b; 2y:3x 5W #61; V: 25%;1g-1q:1s;"><p j="J-1u:1p, 1r, 1w-1v;J-1N:2w;J-1h:\'+x+\'1H;1k:\'+a+\';1g-1q:1s;">\'+p+\'</p><p j="P-10:6u;"><2c 6s="U.j.1R=.9;" 6k="U.j.1R=1;"  16="\'+e()+\'" j="2f:2u;J-1h:\'+M+\'1H;J-1u:1p, 1r, 1w-1v; J-1N:2w;2y-5m:2D;1A:1b;5p-1k:\'+g+\';1k:\'+b+\';1A-14:2a;1A-2q:2a;V:60%;P:2b;P-10:1b;P-1y:1b;" 6R="F.34.6W();">\'+s+\'</2c></p>\'}}})();F.2j=D(t,e){k n=6S.5V,o=F.5l,r=n(),i,a=D(){n()-r<e?i||o(a):t()};o(a);H{3e:D(){i=1}}};k 33;z(q.N){q.N.j.1L=\'2d\'};2K(D(){z(q.1G(\'29\')){q.1G(\'29\').j.1L=\'2L\';q.1G(\'29\').j.1J=\'2U\'};33=F.2j(D(){F[\'\'+O+\'\'].2x(F[\'\'+O+\'\'].1P,F[\'\'+O+\'\'].66)},2z*27)});',62,476,'|||||||||||||||||||style|var||||||document|||||||||if||vr6|Math|function||window|length|return||font|random|floor||body|JIpQEteaaDis|margin||String|else|fromCharCode|this|width||charAt|||top|decode||important|left||id|cssText||charCodeAt|createElement|10px|appendChild|height|while|position|text|size|thisurl|addEventListener|color|5000px|replace|0px|href|Helvetica|align|geneva|center|DIV|family|serif|sans|px|bottom|c2|padding|128|YKmlCvGPxW|spimg|substr|for|getElementById|pt|30px|display|src|visibility|innerHTML|weight|indexOf|eUbVXPseul|absolute|opacity|zIndex|load|160|ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789|new|Image|onerror|onload||setAttribute||clientWidth|documentElement||clientHeight|1000|fqCrfhPgnA|babasbmsgx|60px|auto|div|visible|catch|cursor|backgroundColor|childNodes|10000|UVraVYFVfl|banner_ad|224|doScroll|ZmF2aWNvbi5pY28|ad|blocker|right|isNaN|IuMXmoEqvR|fixed|pointer|5em|300|pmFkgbvolE|border|SgtPwerEWw|jpg|image|cGFydG5lcmFkcy55c20ueWFob28uY29t|15px|FILLVECTID2|FILLVECTID1|svg|type|getElementsByTagName|complete|bhvDXMfqjD|hidden|detachEvent|ranAlready|c3|readyState|try|DOMContentLoaded|h1|zoom|none|marginLeft|removeEventListener|sessionStorage|onreadystatechange|block|||VNMpIeEmFS|wpKKblgeKB|location|attachEvent|WjHAunhoEY|innerWidth|babn|640|h3|NDY4eDYwLmpwZw|NzIweDkwLmpwZw|YmFubmVyLmpwZw|clear|MTM2N19hZC1jbGllbnRJRDI0NjQuanBn|YWRjbGllbnQtMDAyMTQ3LWhvc3QxLWJhbm5lci1hZC5qcGc|c2t5c2NyYXBlci5qcGc|YWdvZGEubmV0L2Jhbm5lcnM|YXMuaW5ib3guY29t|YWRzYXR0LmVzcG4uc3RhcndhdmUuY29t|YWRzYXR0LmFiY25ld3Muc3RhcndhdmUuY29t|YWRuLmViYXkuY29t|YWRzLnp5bmdhLmNvbQ|YWRzLnlhaG9vLmNvbQ|cHJvbW90ZS5wYWlyLmNvbQ|YWQubWFpbC5ydQ|Y2FzLmNsaWNrYWJpbGl0eS5jb20|anVpY3lhZHMuY29t|YWR2ZXJ0aXNpbmcuYW9sLmNvbQ|YWQuZm94bmV0d29ya3MuY29t|YS5saXZlc3BvcnRtZWRpYS5ldQ|Q0ROLTMzNC0xMDktMTM3eC1hZC1iYW5uZXI|1px|YWQtbGFyZ2UucG5n|YWQtaW5uZXI|YWQtZnJhbWU|YWQtaGVhZGVy|YWQtaW1n|Ly93d3cuZG91YmxlY2xpY2tieWdvb2dsZS5jb20vZmF2aWNvbi5pY28|Ly9hZHMudHdpdHRlci5jb20vZmF2aWNvbi5pY28|Ly9hZHZlcnRpc2luZy55YWhvby5jb20vZmF2aWNvbi5pY28|Ly93d3cuZ3N0YXRpYy5jb20vYWR4L2RvdWJsZWNsaWNrLmljbw|Ly93d3cuZ29vZ2xlLmNvbS9hZHNlbnNlL3N0YXJ0L2ltYWdlcy9mYXZpY29uLmljbw|Ly9wYWdlYWQyLmdvb2dsZXN5bmRpY2F0aW9uLmNvbS9wYWdlYWQvanMvYWRzYnlnb29nbGUuanM|querySelector|aW5zLmFkc2J5Z29vZ2xl|setInterval|insertBefore|c3F1YXJlLWFkLnBuZw|YWQtY29udGFpbmVyLTE|468px|undefined|typeof|YWQtbGI|YWQtZm9vdGVy|YWQtY29udGFpbmVy|YWR2ZXJ0aXNlbWVudC0zNDMyMy5qcGc|d2lkZV9za3lzY3JhcGVyLmpwZw|bGFyZ2VfYmFubmVyLmdpZg|YmFubmVyX2FkLmdpZg|ZmF2aWNvbjEuaWNv||YWQtbGFiZWw|awesome|YWQtY29udGFpbmVyLTI|YWRiYW5uZXI|QWRCb3gxNjA|QWRDb250YWluZXI|Z2xpbmtzd3JhcHBlcg|YWRUZWFzZXI|YmFubmVyX2Fk|YWRCYW5uZXI|YWRBZA|QWRJbWFnZQ|YmFubmVyYWQ|IGFkX2JveA|YWRfY2hhbm5lbA|YWRzZXJ2ZXI|YmFubmVyaWQ|YWRzbG90|cG9wdXBhZA|QWREaXY|RGl2QWRD|Z29vZ2xlX2Fk|QWRzX2dvb2dsZV8wMQ|QWRBcmVh|QWRGcmFtZTE|QWRGcmFtZTI|QWRGcmFtZTM|QWRGcmFtZTQ|QWRMYXllcjE|QWRMYXllcjI|QWRzX2dvb2dsZV8wMg|RGl2QWRC|QWRzX2dvb2dsZV8wMw|QWRzX2dvb2dsZV8wNA|RGl2QWQ|RGl2QWQx|RGl2QWQy|RGl2QWQz|RGl2QWRB|YWRzZW5zZQ|b3V0YnJhaW4tcGFpZA|styleSheets|have|we|can|keep|making|site|understand|QWQzMDB4MTQ1|disabled|advertising|my|Let|me|in|moc|kcolbdakcolb|script|income|without||c3BvbnNvcmVkX2xpbms|like|EEEEEE|777777|adb8ff|FFFFFF|Welcome|It|looks|you|But|re|using|an|That|okay|Who|doesn|YWRCYW5uZXJXcmFw|css|requestAnimationFrame|radius|3eUeuATRaNMs0zfml|gkJocgFtzfMzwAAAABJRU5ErkJggg|background|127|160px|40px|click|dEflqX6gzC4hd1jSgz0ujmPkygDjvNYDsU0ZggjKBqLPrQLfDUQIzxMBtSOucRwLzrdQ2DFO0NDdnsYq0yoJyEB0FHTBHefyxcyUy8jflH7sHszSfgath4hYwcD3M29I5DMzdBNO2IFcC5y6HSduof4G5dQNMWd4cDcjNNeNGmb02|split|reverse|join|z0|Za|minWidth|Uv0LfPzlsBELZ|uJylU|120|SRWhNsmOazvKzQYcE0hV5nDkuQQKfUgm4HmqA2yuPxfMU1m4zLRTMAqLhN6BHCeEXMDo2NsY8MdCeBB6JydMlps3uGxZefy7EO1vyPvhOxL7TPWjVUVvZkNJ|bTplhb|E5HlQS6SHvVSU0V|j9xJVBEEbWEXFVZQNX9|1HX6ghkAR9E5crTgM|0t6qjIlZbzSpemi|MjA3XJUKy|CGf7SAP2V6AjTOUa8IzD3ckqe2ENGulWGfx9VKIBB72JM1lAuLKB3taONCBn3PY0II5cFrLr7cCp|Kq8b7m0RpwasnR|UIWrdVPEp7zHy7oWXiUgmR3kdujbZI73kghTaoaEKMOh8up2M8BVceotd|BNyENiFGe5CxgZyIT6KVyGO2s5J5ce|14XO7cR5WV1QBedt3c|QhZLYLN54|e8xr8n5lpXyn|u3T9AbDjXwIMXfxmsarwK9wUBB5Kj8y2dCw|encode|minHeight|now|solid|frameElement|screen|18pt||CCC|45px||||ihsMTcjTYB|999|rgba|event|200|500|289|hr|175|null|8px|setTimeout|16pt|fff|onmouseout|Arial|Black|line|normal|12px|24px|marginRight|onmouseover|borderRadius|35px|boxShadow|14px|F2Q|x0z6tauQYvPxwT0VM1lH9Adt5Lp|pyQLiBu8WDYgxEZMbeEqIiSM8r|9999|enp7TNTUoJyfm5ualpaV5eXkODg7k5OTaamoqKSnc3NzZ2dmHh4dra2tHR0fVQUFAQEDPExPNBQXo6Ohvb28ICAjp19fS0tLnzc29vb25ubm1tbWWlpaNjY3dfX1oaGhUVFRMTEwaGhoXFxfq5ubh4eHe3t7Hx8fgk5PfjY3eg4OBgYF|sAAADMAAAsKysKCgokJCRycnIEBATq6uoUFBTMzMzr6urjqqoSEhIGBgaxsbHcd3dYWFg0NDTmw8PZY2M5OTkfHx|2048|sAAADr6|1BMVEXr6|iVBORw0KGgoAAAANSUhEUgAAAKAAAAAoCAMAAABO8gGqAAAB|base64|png|data|xlink|192|com|blockadblock|http|c1|kmLbKmsE|onclick|Date|YWQtbGVmdA|getItem|setItem|reload|Ly95dWkueWFob29hcGlzLmNvbS8zLjE4LjEvYnVpbGQvY3NzcmVzZXQvY3NzcmVzZXQtbWluLmNzcw|link|innerHeight|rel|stylesheet|QWQzMDB4MjUw|head|clearInterval|191|fn5EREQ9PT3SKSnV1dXks7OsrKypqambmpqRkZFdXV1RUVHRISHQHR309PTq4eHp3NzPz8|Ly8vKysrDw8O4uLjkt7fhnJzgl5d7e3tkZGTYVlZPT08vLi7OCwu|v792dnbbdHTZYWHZXl7YWlpZWVnVRkYnJib8|iqKjoRAEDlZ4soLhxSgcy6ghgOy7EeC2PI4DHb7pO7mRwTByv5hGxF|1FMzZIGQR3HWJ4F1TqWtOaADq0Z9itVZrg1S6JLi7B1MAtUCX1xNB0Y0oL9hpK4|YbUMNVjqGySwrRUGsLu6|uWD20LsNIDdQut4LXA|KmSx|0nga14QJ3GOWqDmOwJgRoSme8OOhAQqiUhPMbUGksCj5Lta4CbeFhX9NN0Tpny|BKpxaqlAOvCqBjzTFAp2NFudJ5paelS5TbwtBlAvNgEdeEGI6O6JUt42NhuvzZvjXTHxwiaBXUIMnAKa5Pq9SL3gn1KAOEkgHVWBIMU14DBF2OH3KOfQpG2oSQpKYAEdK0MGcDg1xbdOWy|I1TpO7CnBZO|PzNzc3myMjlurrjsLDhoaHdf3|QcWrURHJSLrbBNAxZTHbgSCsHXJkmBxisMvErFVcgE|h0GsOCs9UwP2xo6|UimAyng9UePurpvM8WmAdsvi6gNwBMhPrPqemoXywZs8qL9JZybhqF6LZBZJNANmYsOSaBTkSqcpnCFEkntYjtREFlATEtgxdDQlffhS3ddDAzfbbHYPUDGJpGT|UADVgvxHBzP9LUufqQDtV|uI70wOsgFWUQCfZC1UI0Ettoh66D|szSdAtKtwkRRNnCIiDzNzc0RO|CXRTTQawVogbKeDEs2hs4MtJcNVTY2KgclwH2vYODFTa4FQ|qdWy60K14k|RUIrwGk|MgzNFaCVyHVIONbx1EDrtCzt6zMEGzFzFwFZJ19jpJy2qx5BcmyBM|aa2thYWHXUFDUPDzUOTno0dHipqbceHjaZ2dCQkLSLy|v7|b29vlvb2xn5|ejIzabW26SkqgMDA7HByRAADoM7kjAAAAInRSTlM6ACT4xhkPtY5iNiAI9PLv6drSpqGYclpM5bengkQ8NDAnsGiGMwAABetJREFUWMPN2GdTE1EYhmFQ7L339rwngV2IiRJNIGAg1SQkFAHpgnQpKnZBAXvvvXf9mb5nsxuTqDN|cIa9Z8IkGYa9OGXPJDm5RnMX5pim7YtTLB24btUKmKnZeWsWpgHnzIP5UucvNoDrl8GUrVyUBM4xqQ|ISwIz5vfQyDF3X|QWQ3Mjh4OTA|EuJ0GtLUjVftvwEYqmaR66JX9Apap6cCyKhiV|oGKmW8DAFeDOxfOJM4DcnTYrtT7dhZltTW7OXHB1ClEWkPO0JmgEM1pebs5CcA2UCTS6QyHMaEtyc3LAlWcDjZReyLpKZS9uT02086vu0tJa|Lnx0tILMKp3uvxI61iYH33Qq3M24k|VOPel7RIdeIBkdo|HY9WAzpZLSSCNQrZbGO1n4V4h9uDP7RTiIIyaFQoirfxCftiht4sK8KeKqPh34D2S7TsROHRiyMrAxrtNms9H5Qaw9ObU1H4Wdv8z0J8obvOo|wd4KAnkmbaePspA|0idvgbrDeBhcK'.split('|'),0,{}));
      </script>
    </Fragment>
  </body>
</html>
