---
const { highlight, title, heroid, icon, color, bulletin, description, keywords, author, additionalContent, fourofour, index, modal, accordion, scrollspy } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{title}</title> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      {highlight && (
        <link rel="stylesheet" href="/static/highlight.css">
      )}
      <link rel="stylesheet" href="/static/cookie.css">
      <link rel="stylesheet" href="/static/other.css">
      <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css">
      <link rel="preload" as="style" href="/static/other.css">
      <link rel="preload" as="script" href="/static/darkmode.js">
      <link rel="preload" as="script" href="/static/alert-1.js">
      <link rel="preload" as="script" href="/static/alert-2.js">
      {heroid ?
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero-${heroid}.webp`}>
        </Fragment>
        :
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero.webp`}>
        </Fragment>
      }
      {bulletin && bulletin.map(({ bulletinImage }, index) => (
        bulletinImage ? (
            <link rel="preload" as="image" href={`/media/slideshow/${bulletinImage}`} />
        ) : null
      ))}
      {icon ?
        <Fragment>
          <link rel="icon" href={`/media/images/${icon}`}>
          <meta property="og:image" content={`/media/images/${icon}`}>
          <meta name="twitter:image" content={`/media/images/${icon}`}>
        </Fragment>
        :
        <Fragment>
          <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
          <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta property="og:image" content="/media/favicon/iconembed.png">
          <meta name="twitter:image" content="/media/favicon/iconembed.png">
        </Fragment>
      }    
      <link rel="manifest" href="/media/favicon/site.webmanifest">
      <meta charset="UTF-8">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@ATProductsLLC">
      <meta name="twitter:creator" content="@ATProductsLLC">
      <meta name="twitter:title" content={title}>
      <meta name="twitter:description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta property="og:title" content={title}>
      <meta property="og:description" content={description}>
      {color && (
        <meta name="theme-color" content={color}>
      )}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <Fragment set:html={additionalContent}>
      <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body>
    <Fragment>  
      <slot/>
    </Fragment>
    <Fragment>
      <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
      <script is:inline src="/static/message.js"></script>
      <script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-xxxxxxxxxxxxxxxx",
          enable_page_level_ads: true
        });
      </script>  
    </Fragment>
  </body>
</html>
