---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url"

import '../styles/styles.css';

import jquery from "jquery/dist/jquery.min.js?url";
import jqueryui from "jquery-ui/dist/jquery-ui.min.js?url";

const { title, description, keywords, author, additionalContent, ruffle, emulator, fourofour } = Astro.props;
---

<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
      <title>{title}</title> 
      <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
      <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
      <link rel="icon" type="image/png" sizes="192x192" href="/media/favicon/android.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
      <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta property="og:image" content="/media/favicon/iconembed.png">
      <meta name="twitter:image" content="/media/favicon/iconembed.png">
      <link rel="manifest" href="/media/favicon/site.webmanifest">
      <meta charset="UTF-8">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@ATProductsLLC">
      <meta name="twitter:creator" content="@ATProductsLLC">
      <meta name="twitter:title" content={title}>
      <meta name="twitter:description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta property="og:title" content={title}>
      <meta property="og:description" content={description}>
      <meta property="og:site_name" content="AT Products LLC">
      <meta name="theme-color" content="#212529">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <Fragment set:html={additionalContent} />
  </head>
  <body class="vh-100 fixedtopnavimage" data-bs-theme="dark">
    <Fragment>  
      <slot />
    </Fragment>
    <Fragment>
      <script src={bootstrap}></script>
      <script src={jquery}></script>
      <script src={jqueryui}></script>
      
      {ruffle && (
        <script is:inline src="/scripts/ruffle/ruffle.js"></script>
        <script is:inline src="/scripts/ruffle-add.js"></script>
      )}
      <script is:inline src="/scripts/fullscreen.js"></script>
      <script is:inline src="/scripts/lock.js"></script>
      <script is:inline src="/scripts/search.js"></script>
      <script is:inline src="/scripts/enabler.js"></script>
      {emulator && (
        <script is:inline src="/scripts/emulatorjs/data/loader.js"></script>
        <slot name="emulator-script" />
      )}
      {fourofour && (
        <script is:inline src="/scripts/404.js"></script>
      )}
    </Fragment>
  </body>
</html>