---
const { highlight, title, heroid, icon, color, bulletin, description, keywords, author, additionalContent, fourofour, index, modal, accordion, scrollspy } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{title}</title> 
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      {highlight && (
        <link rel="stylesheet" href="/static/highlight.css">
      )}
      <style>
        .hero {
          width: 100%;
          position: relative;
          z-index: 1046;
          background-size: cover !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;   
        }

        .hero-main {
          background: url('/media/images/hero.webp');
        }
      </style>
      <style>
        .ad-grid {
          display: grid;
          gap: 1.5rem;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        .ad-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
      <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css">
      <link rel="preload" as="script" href="/static/alert-1.js">
      <link rel="preload" as="script" href="/static/alert-2.js">
      {heroid ?
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero-${heroid}.webp`}>
        </Fragment>
        :
        <Fragment>
        <link rel="preload" as="image" href={`/media/images/hero.webp`}>
        </Fragment>
      }
      {bulletin && bulletin.map(({ bulletinImage }, index) => (
        bulletinImage ? (
            <link rel="preload" as="image" href={`/media/slideshow/${bulletinImage}`} />
        ) : null
      ))}
      {icon ?
        <Fragment>
          <link rel="icon" href={`/media/images/${icon}`}>
          <meta property="og:image" content={`/media/images/${icon}`}>
          <meta name="twitter:image" content={`/media/images/${icon}`}>
        </Fragment>
        :
        <Fragment>
          <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
          <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta property="og:image" content="/media/favicon/iconembed.png">
          <meta name="twitter:image" content="/media/favicon/iconembed.png">
        </Fragment>
      }    
      <link rel="manifest" href="/media/favicon/site.webmanifest">
      <meta charset="UTF-8">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@ATProductsLLC">
      <meta name="twitter:creator" content="@ATProductsLLC">
      <meta name="twitter:title" content={title}>
      <meta name="twitter:description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta property="og:title" content={title}>
      <meta property="og:description" content={description}>
      {color && (
        <meta name="theme-color" content={color}>
      )}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <Fragment set:html={additionalContent}>
      <script type="text/javascript">
        (() => {
          'use strict'

          const storedTheme = localStorage.getItem('theme')

          const getPreferredTheme = () => {
            if (storedTheme) {
              return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
          }

          const setTheme = (theme) => {
            if (theme === 'auto') {
              document.documentElement.setAttribute(
                'data-bs-theme',
                window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
              )
            } else {
              document.documentElement.setAttribute('data-bs-theme', theme)
            }
          }

          setTheme(getPreferredTheme())

          const showActiveTheme = (theme, focus = false) => {
            const themeSwitcher = document.querySelector('#bd-theme')
            if (!themeSwitcher) return

            const themeSwitcherText = document.querySelector('#bd-theme-text')
            const activeThemeIcon = document.querySelector('.theme-icon-active i')
            const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)

            if (!btnToActive) return // prevent null errors

            const svgOfActiveBtn = btnToActive.querySelector('i').getAttribute('class')

            for (const element of document.querySelectorAll('[data-bs-theme-value]')) {
              element.classList.remove('active')
              element.setAttribute('aria-pressed', 'false')
            }

            btnToActive.classList.add('active')
            btnToActive.setAttribute('aria-pressed', 'true')
            activeThemeIcon.setAttribute('class', svgOfActiveBtn)

            const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
            themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

            if (focus) themeSwitcher.focus()
          }

          window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            if (storedTheme !== 'light' && storedTheme !== 'dark') {
              setTheme(getPreferredTheme())
              showActiveTheme(getPreferredTheme())
            }
          })

          window.addEventListener('load', () => {
            showActiveTheme(getPreferredTheme())

            for (const toggle of document.querySelectorAll('[data-bs-theme-value]')) {
              toggle.addEventListener('click', () => {
                const theme = toggle.getAttribute('data-bs-theme-value')
                localStorage.setItem('theme', theme)
                setTheme(theme)
                showActiveTheme(theme, true)
              })
            }
          })
        })()
      </script>
  </head>
  <body>
    <Fragment>  
      <slot/>
    </Fragment>
    <Fragment>
      <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
      <script is:inline>
        $(document).ready(function() {
          // Define the color variables using CSS custom properties
          const whiteColor = getComputedStyle(document.documentElement)
                      .getPropertyValue('--text-color') || 'white';

          console.log('%cHello there fellow traveler!%c\nFeel free to explore and experiment with the console. Rest assured, nothing on this site can compromise your security, and your cookies do not contain personally identifiable information.\n\nThis website is open source, and we welcome you to check out the code at %chttps://github.com/Alex-Toucan/atproducts.xyz',
                'font-weight: bold; font-size: 24px; color: green;',  // Style for header
                `font-size: 16px; color: ${whiteColor};`,              // Style for body text with dynamic color
                'font-size: 16px; color: blue; text-decoration: underline;' // Style for link
              );
        });
      </script>
      <script src="https://offevasionrecruit.com/e5/52/94/e552941806105b5e68df4c3b6ce18ee3.js"></script>
    </Fragment>
  </body>
</html>
