---
const { title, heroid, icon, bulletin, description, keywords, author, additionalContent } = Astro.props;
---
<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
      <title>{title}</title> 
      <link rel="stylesheet" href="/static/cookie.css">
      <link rel="stylesheet" href="/static/bootstrap.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
      <link rel="preload" as="style" href="/static/bootstrap.css">
      {heroid ?
        <>
        <link rel="preload" as="image" href={`/media/images/hero=${heroid}.webp`}>
        </>
        :
        <>
        <link rel="preload" as="image" href={`/media/images/hero.webp`}>
        </>
      }
      {bulletin && bulletin.map(({ bulletinImage }, index) => (
        bulletinImage ? (
            <link key={index} rel="preload" as="image" href={`/media/slideshow/${bulletinImage}`} />
        ) : null
      ))}
      {icon ?
        <Fragment>
          <link rel="icon" href={`/media/images/${icon}`}>
          <meta property="og:image" content={`/media/images/${icon}`}>
        </Fragment>
        :
        <Fragment>
          <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
          <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
          <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta property="og:image" content="/media/favicon/iconembed.png">
          <meta name="msapplication-TileColor" content="#da532c">
        </Fragment>
      }    
      <link rel="manifest" href="/media/favicon/site.webmanifest">
      <meta charset="UTF-8">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {additionalContent}
      <script src="/static/darkmode.js" is:inline></script>
  </head>
  <body class="fixedtopnavimage">
      <div id="page">