---
const { parent, additionalClasses } = Astro.props;
const classes = additionalClasses ? `accordion ${additionalClasses}` : 'accordion';
---

<div class={classes} id={parent}>
  {theme ? (
    <div data-bs-theme={theme}>
      <slot name="accordion-content" parent={parent} />
    </div>
  ) : (
    <slot name="accordion-content" parent={parent} />
  )}
</div>
